* { outline: none; }
body {
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    color: #000;
    background-color: #f4f4f4;
}

h1, h2, h3, h4, h5 { margin: 10px 0 10px 0; }

.clear { display: block; clear: both; width: 0; height: 0; margin: 0; padding: 0; }
.wrapper {
    width: 900px;
    margin: auto;
}

.body {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.15);
}

.search {
    padding: 5px;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-top-color: #bcbcbc;
    border-left-color: #bcbcbc;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px rgba(50, 50, 50, 0.2);
}

.listview { border: 1px solid #ccc; border-radius: 3px; }
.listview th {
    padding: 6px 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    text-shadow: 1px 1px 0 #fff;
    background-image: linear-gradient(bottom, #EAEAEA 0%, #F8F8F8 100%);
    background-image: -o-linear-gradient(bottom, #EAEAEA 0%, #F8F8F8 100%);
    background-image: -moz-linear-gradient(bottom, #EAEAEA 0%, #F8F8F8 100%);
    background-image: -webkit-linear-gradient(bottom, #EAEAEA 0%, #F8F8F8 100%);
    background-image: -ms-linear-gradient(bottom, #EAEAEA 0%, #F8F8F8 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EAEAEA), color-stop(1, #F8F8F8));
}

.listview td { padding: 4px 8px; border-bottom: 1px dotted #ddd; }
.listview tr:nth-child(odd) td { background-color: #f6f6f6; }
